.login-page-logo { font-size: 72px;}

.mar-10 { margin: 25px 0 ;}
.mar-lt-10 { margin-left: 10px;}
.mar-rt-10 { margin-right: 10px;}

.admin-img{
    width: 60px;
    margin: 15px 0 0 15px;
}
#footer{
    background-color: #443266;
    padding: 5px;
    color: #ffffff;
    border-radius: 4px;
}

.file-input{
    padding: 5px 0 0;
}


.icon-trash{display:inline-block; height:26px; width:26px; background:url('../img/icons-delete.png') no-repeat -26px 0px; transition:ease-in-out .2s; -moz-transition:ease-in-out .2s; -o-transition:ease-in-out .2s; }
.icon-trash:hover{background:url('../img/icons-delete.png') no-repeat 0px 0px;}

.add_button {
    margin-bottom: 15px;
}

.dataTables_filter label input, .dataTables_length label select{width: 240px !important; height: 34px; padding: 6px 12px; background-color: #FFFFFF; border: 1px solid #E5E5E5; color: #333333;}
.dataTables_length label select {width: 75px !important; height: 34px; padding: 6px 12px; background-color: #FFFFFF; border: 1px solid #E5E5E5; color: #333333;}

.big-icon{font-size: 30px;}

.data-table-filter-alignment{margin-bottom: -40px; position: relative; z-index: 1;}
.col-md-12 .data-table-filter-alignment{margin-right: 20px;}

#leave_calendar .sorting_disabled{display: none;}

label.error {width:100% !important; white-space: nowrap; color: red}

.padding-killer { padding-left: 0 !important; padding-right: 0 !important; }
.padding-killer-left { padding-left: 0 !important; }
.padding-killer-right { padding-right: 0 !important; }